[project]
	description = HintGenerator analyses changes in requirements and based on them generates hints on how to change impacted acceptance tests.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sofija (hotomski)
[access "refs/for/refs/*"]
	read = group user/Sofija (hotomski)
	push = group user/Sofija (hotomski)
	label-Code-Review = -2..+2 group user/Sofija (hotomski)
	label-Verified = -1..+1 group user/Sofija (hotomski)
	rebase = group user/Sofija (hotomski)
	removeReviewer = group user/Sofija (hotomski)
	submit = group user/Sofija (hotomski)
[access "refs/heads/*"]
	read = group user/Sofija (hotomski)
	create = group user/Sofija (hotomski)
	push = +force group user/Sofija (hotomski)
	pushMerge = group user/Sofija (hotomski)
[access "refs/tags/*"]
	push = group user/Sofija (hotomski)
	push = +force group user/Sofija (hotomski)
